.popup .wrap {
    margin: 0 auto;
    z-index: 2000;
}

/* 배경 */




.popup .title {
    width: 100%;
    max-width: 840px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 60px 20px 0;
}

.popup .title-txt {
    padding-left: 0;
    flex: 1;
    min-width: 0;
    /* 🔥 이게 핵심 */
    width: 300px;
}

.popup-text span,
.popup .title-txt p {
    word-break: break-word;
}




.con a {
    max-width: 100px;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.con span {
    width: 40px;
    flex-shrink: 0;
}

/* 260305수정 */
.con2 p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

/* 스크롤바 */
.act {
    overflow-x: auto;
}

/* Chrome, Edge */
.act::-webkit-scrollbar {
    height: 5px;
}

.act::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.act::-webkit-scrollbar-thumb {
    background: #ff3535 !important;
    border-radius: 0 !important;
}

.act::-webkit-scrollbar-button {
    display: none;
}

.act::-webkit-scrollbar-thumb:hover {
    background-color: #e02e2e;
    /* 마우스 오버시 색상 변화 */
}



/* 팝업 전체 배경 */
.popup-wrap {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    display: none;
}




/* 팝업창 */
.popup {
    width: 100%;
    /* max-width: 800px; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    overflow-y: auto;
    overflow-x: hidden;


    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE, Edge */
}

.hig {
    width: 100%;
    max-width: 840px;
    padding: 100px 20px 0;
}

.actor {
    width: 100%;
    max-width: 840px;
    padding: 100px 20px 0;
}

.content-mov {
    width: 100%;
    max-width: 840px;
    padding: 100px 20px;
}

.mov-img {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(5, 1fr);
    margin: 30px auto;
}

.episode {
    width: 100%;
    max-width: 840px;
    padding: 100px 20px;
}



/* 닫기 버튼 */

.btn-x {
    position: absolute;

}


#close-btn {
    right: 25px;
    top: 25px;
    cursor: pointer;

}

#close-btn img {
    width: 100%
}




/* 전체 페이지 */

.popup::-webkit-scrollbar,
.popup::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.act::-webkit-scrollbar:horizontal {
    height: 6px;
}

.container::-webkit-scrollbar-track:horizontal {
    background: transparent;
}



.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
    color: white;
    position: absolute;
    left: 40%;
    top: 45%;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
    fill: #ff3535;
}

.popup .slide img {

    object-fit: cover;

}

.details-main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.details-wrap {
    width: 100%;
    max-width: 1100px;
    position: relative;
    border: 1px solid #383838;
    background: #1a1a1a;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mov-img p {
    aspect-ratio: 2 / 3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 0px rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mov-img p img {
    /* object-fit: cover; */
    height: 100%;
    transition: 0.3s;
}

.mov-img p:hover img {
    transform: scale(1.05);
}

.popup .title .poster {
    width: 100%;
    max-width: 280px;
    aspect-ratio: 2 / 3;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.popup .title .poster img {
    object-fit: cover;
}

.ott-logo a {
    border-radius: 10px;
    overflow: hidden;
}

/* 260305 추가 */
.con2 p.active {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.con2 p {
    padding-top: 10px;
}

.con {
    display: flex;
    align-items: flex-start;
}

.con-box .con-img-wrap {
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 3 / 2;
    overflow: hidden;
}
.con-box .con-img-wrap > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.con-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.con-box span {
    display: inline;
}

.con2 .ep-num {
    padding-right: 5px;
}

.popup-text span.active {
    -webkit-line-clamp: unset;
    overflow: visible;
}

@media screen and (min-width:481px) and (max-width:1024px) {
    .hig, .actor, .content-mov {
        padding-top: 40px;
    }
}
@media screen and (max-width:480px) {
    .hig, .actor, .content-mov {
        padding-top: 40px;
    }
    .con>.con-box>a {
        max-width: 70px;
    }

    .con>.con-box>a>img {
        object-fit: cover;
    }

    .act-profi > p {
        width: 70px !important;
    }

    .content-mov {
        padding: 0;
    }
    .content-mov > b {
        padding: 0 20px;
    }
}